body {
    font-family: 'Roboto', arial;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}


.links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.header .footer {
    background-color: #1f2937;
}

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 90px;
}

.Text {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

.Text p {
    opacity: 0.7;
}

.Text button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.skins {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skins img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.section4 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
}

.section4 p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.section4 b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}


.section5 {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.signup {
    text-align: left;
    flex: 1;
}

.signup p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signupbtn {
    flex: 1;
}

.signupbtn button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer{
    background-color: #1F2937;
color: #fff;
font-family: 'Roboto', arial;
}